@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply rounded;
}

html {
  font-family: Helvetica;
  box-sizing: border-box;
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
